tools/kb_assistant/n8n_workflows/openclaw_voice_ingest.import.json
{
  "name": "OpenClaw 微信语音接收",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "openclaw-voice",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "0c0bba9a-e2d3-41ea-82bc-8d9d0d6fd001",
      "name": "OpenClaw Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -720,
        0
      ],
      "webhookId": "openclaw-voice"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8765/openclaw/normalize",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "00cf9a31-d914-46c8-8d10-532f6f7a2002",
      "name": "标准化消息",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -500,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-voice",
              "leftValue": "={{ $json.message_type }}",
              "rightValue": "voice",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bfb53b26-f7df-4554-8dd9-c36b91ed9003",
      "name": "是否语音",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -280,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.file_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "f07320e5-e7a5-41f1-b50b-1d87ed8a2004",
      "name": "下载音频",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -40,
        -100
      ]
    },
    {
      "parameters": {
        "fileName": "={{ $('标准化消息').item.json.container_save_path }}",
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "83fb6dd8-9eab-4d81-a68f-7a0c37e42005",
      "name": "写入监听目录",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        200,
        -100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8765/audio/jobs",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ audio_path: $('标准化消息').item.json.save_path, container_audio_path: $('标准化消息').item.json.container_save_path, message_id: $('标准化消息').item.json.message_id, from_user: $('标准化消息').item.json.from_user, date: $('标准化消息').item.json.date, idempotency_key: $('标准化消息').item.json.message_id }) }}",
        "options": {}
      },
      "id": "7a76bf04-2c35-4e10-930a-0c0a50fa2008",
      "name": "提交转写任务",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        -100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, message: '已收到语音，已提交后台转写任务', save_path: $('标准化消息').item.json.save_path, job_id: $('提交转写任务').item.json.job_id, status: $('提交转写任务').item.json.status } }}",
        "options": {}
      },
      "id": "4e075cf5-c046-4eb8-a07d-7a93b0cf2006",
      "name": "回复已接收",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        680,
        -100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: false, message: '当前消息不是语音，已忽略', message_type: $json.message_type } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "1050e434-1622-4316-b6ee-1f65fdd02007",
      "name": "回复已忽略",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -40,
        120
      ]
    }
  ],
  "connections": {
    "OpenClaw Webhook": {
      "main": [
        [
          {
            "node": "标准化消息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "标准化消息": {
      "main": [
        [
          {
            "node": "是否语音",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "是否语音": {
      "main": [
        [
          {
            "node": "下载音频",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "回复已忽略",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "下载音频": {
      "main": [
        [
          {
            "node": "写入监听目录",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "写入监听目录": {
      "main": [
        [
          {
            "node": "提交转写任务",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "提交转写任务": {
      "main": [
        [
          {
            "node": "回复已接收",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "versionId": "template",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [],
  "id": "FZIgqSjHQNnyGukQ",
  "createdAt": "2026-04-28T16:09:26.220Z",
  "updatedAt": "2026-04-28T16:09:36.757Z",
  "description": null,
  "isArchived": false,
  "staticData": null,
  "pinData": {},
  "versionCounter": 2,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-28T16:09:26.222Z",
      "createdAt": "2026-04-28T16:09:26.222Z",
      "role": "workflow:owner",
      "workflowId": "FZIgqSjHQNnyGukQ",
      "projectId": "pMm2IWvU30woZpGy",
      "project": {
        "updatedAt": "2026-04-22T12:05:56.528Z",
        "createdAt": "2026-04-20T01:37:33.921Z",
        "id": "pMm2IWvU30woZpGy",
        "name": "jianfei su <xjfdazima@126.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "54580582-774e-4102-a1f7-c835da88f967"
      }
    }
  ]
}
