tools/kb_assistant/n8n_workflows/openclaw_voice_ingest.current.backup.json
[{"updatedAt":"2026-04-28T16:09:36.757Z","createdAt":"2026-04-28T16:09:26.220Z","id":"FZIgqSjHQNnyGukQ","name":"OpenClaw 微信语音接收","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"id":"00bb238b-1e04-41b6-908d-7f78477db67f","name":"每分钟检查","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-896,112]},{"parameters":{"url":"http://host.docker.internal:8765/notifications?include_failed=1&limit=10","options":{}},"id":"2ddf68f8-8414-462c-9ab8-debbb445bd58","name":"读取待通知任务","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-688,112]},{"parameters":{"jsCode":"const payload = $input.first().json;\nif (Array.isArray(payload)) {\n  return payload.map(item => ({ json: item }));\n}\nif (payload && Array.isArray(payload.data)) {\n  return payload.data.map(item => ({ json: item }));\n}\nreturn [];"},"id":"4dbf760b-7757-4155-8e6c-34b1f2c11e33","name":"拆分任务","type":"n8n-nodes-base.code","typeVersion":2,"position":[-464,112]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"has-message","leftValue":"={{ $json.message }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"f084a92b-cb70-41ee-8e6c-aa908c7dbe9f","name":"是否有消息","type":"n8n-nodes-base.if","typeVersion":2,"position":[-240,112]},{"parameters":{"method":"POST","url":"http://OPENCLAW_HOST:OPENCLAW_PORT/send","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ text: $json.message, task: $json }) }}","options":{}},"id":"7c55c4b7-300d-4cdb-bf8d-961e46d7f1d9","name":"回发 OpenClaw","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"notes":"把 URL 改成 OpenClaw 实际发送消息接口。"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8765/notifications/mark","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ metadata_file: $json.metadata_file }) }}","options":{}},"id":"b5e47806-454b-42f3-92c1-17b08dd8346b","name":"标记已通知","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,0]},{"parameters":{"httpMethod":"POST","path":"openclaw-voice","responseMode":"responseNode","options":{}},"id":"7ce71f63-1145-4ba2-8d0d-6fd73342f1aa","name":"OpenClaw Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1760,544],"webhookId":"openclaw-voice"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8765/openclaw/normalize","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}},"id":"d2f4b4b2-a056-4b9e-a99c-a8de51b46ccf","name":"标准化消息","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1552,544]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"is-voice","leftValue":"={{ $json.message_type }}","rightValue":"voice","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"0cb220f8-4c90-430f-8a14-a617872eb702","name":"是否语音","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1328,544]},{"parameters":{"url":"={{ $json.file_url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"d948f49b-ecd3-40ea-8fe6-0c1d736c4346","name":"下载音频","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1088,432]},{"parameters":{"fileName":"={{ $('标准化消息').item.json.container_save_path }}","options":{}},"id":"f19b4725-4cb1-4f7f-a4cb-6c900c5348b2","name":"写入监听目录","type":"n8n-nodes-base.writeBinaryFile","typeVersion":1,"position":[-848,432]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8765/audio/jobs","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ audio_path: $('标准化消息').item.json.save_path, container_audio_path: $('标准化消息').item.json.container_save_path, message_id: $('标准化消息').item.json.message_id, from_user: $('标准化消息').item.json.from_user, date: $('标准化消息').item.json.date, idempotency_key: $('标准化消息').item.json.message_id }) }}","options":{}},"id":"d652f6e0-3d50-480f-8771-2420f6016bd0","name":"提交转写任务","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-608,432]},{"parameters":{"respondWith":"json","responseBody":"={{ { ok: true, message: '已收到语音，已提交后台转写任务', save_path: $('标准化消息').item.json.save_path, job_id: $('提交转写任务').item.json.job_id, status: $('提交转写任务').item.json.status } }}","options":{}},"id":"20be678c-59cc-48e8-a321-c558b731213b","name":"回复已接收","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-368,432]},{"parameters":{"respondWith":"json","responseBody":"={{ { ok: false, message: '当前消息不是语音，已忽略', message_type: $json.message_type } }}","options":{"responseCode":200}},"id":"27859096-94ea-414d-ba6a-1089efabdee3","name":"回复已忽略","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-1088,656]}],"connections":{"每分钟检查":{"main":[[{"node":"读取待通知任务","type":"main","index":0}]]},"读取待通知任务":{"main":[[{"node":"拆分任务","type":"main","index":0}]]},"拆分任务":{"main":[[{"node":"是否有消息","type":"main","index":0}]]},"是否有消息":{"main":[[{"node":"回发 OpenClaw","type":"main","index":0}]]},"回发 OpenClaw":{"main":[[{"node":"标记已通知","type":"main","index":0}]]},"OpenClaw Webhook":{"main":[[{"node":"标准化消息","type":"main","index":0}]]},"标准化消息":{"main":[[{"node":"是否语音","type":"main","index":0}]]},"是否语音":{"main":[[{"node":"下载音频","type":"main","index":0}],[{"node":"回复已忽略","type":"main","index":0}]]},"下载音频":{"main":[[{"node":"写入监听目录","type":"main","index":0}]]},"写入监听目录":{"main":[[{"node":"提交转写任务","type":"main","index":0}]]},"提交转写任务":{"main":[[{"node":"回复已接收","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"029da966-21b2-4b2a-b407-2dc57a6f66a3","activeVersionId":null,"versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-28T16:09:26.222Z","createdAt":"2026-04-28T16:09:26.222Z","role":"workflow:owner","workflowId":"FZIgqSjHQNnyGukQ","projectId":"pMm2IWvU30woZpGy","project":{"updatedAt":"2026-04-22T12:05:56.528Z","createdAt":"2026-04-20T01:37:33.921Z","id":"pMm2IWvU30woZpGy","name":"jianfei su <xjfdazima@126.com>","type":"personal","icon":null,"description":null,"creatorId":"54580582-774e-4102-a1f7-c835da88f967"}}],"versionMetadata":{"name":null,"description":null}}]